<?xml version="1.0" ?>
<model>
    <name>iris_fpv_cam</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Henrique Barros Oliveira</name>
        <email>henrique.barrosoliveira@usp.br</email>
    </author>
    <description>Iris quadrotor with rplidar and fpv_cam</description>
</model>
