<?xml version="1.0" ?>
<model>
    <name>Crazy Blender Object</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Fernando Preto</name>
        <email></email>
    </author>
    <description>An crazy object draw in Blender and exported as Collada (.dae)</description>
</model>
